<?xml version="1.0"?>


<configuration>
	<connectionStrings>
		<add name="edergi" connectionString="Data Source=172.16.0.135;Initial Catalog=edergi; User Id=sa; Password=1;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"></compilation>
		<pages clientIDMode="Static"></pages>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880" />
		</authentication>

		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="edergi"
             passwordFormat="Clear"
						 enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>

		<roleManager enabled="true">
			<providers>
				<clear />   
				<add connectionStringName="edergi" applicationName="/" name="AspNetSqlRoleProvider"
				 type="System.Web.Security.SqlRoleProvider" />
				<add applicationName="/" name="AspNetWindowsTokenRoleProvider"
				 type="System.Web.Security.WindowsTokenRoleProvider" />
			</providers>
		</roleManager>

		<!--<profile enabled="true" defaultProvider="SqlProvider">
			<providers>
				<clear />
				<add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="edergi" applicationName="SampleApplication" />
			</providers>
			<properties>
				<add name="Division" type="System.String" allowAnonymous="true" />
				<add name="Affilation" type="System.String" allowAnonymous="true" />

			</properties>
		</profile>-->
	</system.web>
</configuration>
